<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DidarApiWrapperV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DidarApiWrapperV2.Properties.Settings>
            <setting name="DidarApiWrapperV2_me_didar_Collaborative" serializeAs="String">
                <value>http://didar.me/API/Collaborative.asmx</value>
            </setting>
        </DidarApiWrapperV2.Properties.Settings>
    </applicationSettings>
</configuration>