<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CollaborativeSoap" />
            </basicHttpBinding>
        </bindings> 
        <client>
            <endpoint address="http://didar.me/API/Collaborative.asmx"
                binding="basicHttpBinding" bindingConfiguration="CollaborativeSoap"
                contract="me.didar.CollaborativeSoap" name="CollaborativeSoap" />
        </client>
    </system.serviceModel>
</configuration>